player-connection-mode=Listen
player-connection-guid=4010296573
player-connection-debug=0
player-connection-project-name=Autochess
player-connection-ip=192.168.1.10
player-connection-ip=192.168.56.1
player-connection-ip=26.233.252.239
player-connection-ip=192.168.1.15
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
